.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overview {
  width: 100%;
  height: 100vh;
  background-color: #2893ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapComponent {
  position: relative;
  box-shadow: 12px 0 15px -5px rgba(0, 0, 0, 0.5), -12px 0 8px -5px rgba(0, 0, 0, 0.5);
}

.mapSVG_container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../components/map/mapImage.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.map > img {
  height: 100%;
}

.mapSVG {
  width: 100%;
  height: 100%;
}

.victoryBar {
  width: 100%;
  height: 105px;
  background-color: blue;
  z-index: 1;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.victoryBarTitleRow {
  width: 100%;
  height: 45px;
  background: rgb(129, 69, 255);
  background: linear-gradient(0deg, rgb(129, 69, 255) 0%, rgb(177, 108, 252) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.victoryBarTitleRow p {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.victoryBarStatsRow {
  width: 100%;
  height: 50px;
  display: flex;
}
.victoryBarStatsRow_teamSection {
  width: calc(25% - 20px);
  height: 100%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.victoryBarStatsRow_teamSection p {
  font-size: 25px;
  color: white;
  font-weight: bold;
}
.victoryBarStatsRow_timer {
  width: 80px;
  height: 65px;
  background: rgb(129, 69, 255);
  background: linear-gradient(0deg, rgb(129, 69, 255) 0%, rgb(177, 108, 252) 100%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.victoryBarStatsRow_timer p {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

#redTeamBar {
  background: rgb(225, 52, 116);
  background: linear-gradient(0deg, rgb(225, 52, 116) 0%, rgb(244, 94, 129) 100%);
  border-right: 5px solid white;
}

#blueTeamBar {
  background: rgb(30, 133, 251);
  background: linear-gradient(0deg, rgb(30, 133, 251) 0%, rgb(28, 187, 255) 100%);
}

#yellowTeamBar {
  background: rgb(255, 154, 70);
  background: linear-gradient(0deg, rgb(255, 154, 70) 0%, rgb(254, 189, 87) 100%);
}

#greenTeamBar {
  background: rgb(58, 214, 70);
  background: linear-gradient(0deg, rgb(58, 214, 70) 0%, rgb(140, 252, 89) 100%);
  border-left: 5px solid white;
}

.regionSelectView {
  width: 100%;
  height: 100vh;
  background-color: #2a99ee;
  display: flex;
  overflow: hidden;
}

.regionSelectView_stats {
  height: 100%;
  width: 100%;
  box-shadow: -12px 0 15px -5px rgba(0, 0, 0, 0.5), -12px 0 8px -5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: relative;
}
.regionSelectView_stats_titleSection {
  width: 100%;
  height: 125px;
  background-color: #2b97ed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.regionSelectView_stats_titleSection p {
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.regionSelectView_stats_titleSection img {
  width: 45px;
  height: 45px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.regionSelectView_stats_pointSection {
  width: 100%;
  height: 150px;
}
.regionSelectView_stats_pointSection_title {
  width: 100%;
  height: 40px;
  background: rgb(127, 68, 255);
  background: linear-gradient(0deg, rgb(127, 68, 255) 0%, rgb(177, 109, 252) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0px 5px #fff;
}
.regionSelectView_stats_pointSection_title p {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}
.regionSelectView_stats_pointSection_pointsContainer {
  width: 100%;
  height: calc(100% - 40px);
  background-color: green;
  display: flex;
}
.regionSelectView_stats .pointBox {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.regionSelectView_stats .pointBox p {
  color: white;
  font-weight: bold;
  margin: 0;
}
.regionSelectView_stats .pointBox p:nth-child(1) {
  font-size: 30px;
}
.regionSelectView_stats .pointBox p:nth-child(2) {
  font-size: 15px;
}
.regionSelectView_stats_regionInfo {
  width: 100%;
  height: calc(100% - 235px - 40px);
  background-color: #3550c4;
}
.regionSelectView_stats_regionInfo_title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.regionSelectView_stats_regionInfo_title p {
  color: white;
  font-weight: bold;
  margin: 0;
}
.regionSelectView_stats_regionInfo_title p:nth-child(1) {
  font-size: 15px;
}
.regionSelectView_stats_regionInfo_title p:nth-child(2) {
  font-size: 30px;
  margin-bottom: 10px;
}
.regionSelectView_stats_regionInfo_regionImage {
  width: 100%;
  height: calc(100% - 350px);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regionSelectView_stats_regionInfo_regionImage img {
  height: 90%;
}
.regionSelectView_stats_regionInfo_regionPoints {
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regionSelectView_stats_regionInfo_regionPoints p {
  color: white;
  font-weight: bold;
  margin: 0;
}
.regionSelectView_stats_regionInfo_regionPoints p:nth-child(1) {
  font-size: 10px;
}
.regionSelectView_stats_regionInfo_regionPoints p:nth-child(2) {
  font-size: 25px;
  margin-bottom: 20px;
}
.regionSelectView_stats_regionInfo_regionPoints p:nth-child(3) {
  font-size: 15px;
  margin-top: 10px;
}
.regionSelectView_stats_regionInfo_regionPoints p:nth-child(4) {
  font-size: 30px;
}
.regionSelectView_stats_regionInfo_regionPoints p:nth-child(5) {
  font-size: 15px;
  margin-top: 10px;
}
.regionSelectView_stats_regionInfo_regionPoints p:nth-child(6) {
  font-size: 30px;
}

#regionSelectView_redTeam {
  background: rgb(224, 51, 116);
  background: linear-gradient(0deg, rgb(224, 51, 116) 0%, rgb(244, 95, 130) 100%);
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

#regionSelectView_blueTeam {
  background: rgb(44, 141, 254);
  background: linear-gradient(0deg, rgb(44, 141, 254) 0%, rgb(28, 188, 255) 100%);
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

#regionSelectView_yellowTeam {
  background: rgb(255, 153, 70);
  background: linear-gradient(0deg, rgb(255, 153, 70) 0%, rgb(254, 189, 86) 100%);
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

#regionSelectView_greenTeam {
  background: rgb(48, 211, 69);
  background: linear-gradient(0deg, rgb(48, 211, 69) 0%, rgb(103, 235, 42) 100%);
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.regionPoints_line {
  width: "300px";
  height: "2px";
  background-color: "white";
  border-radius: "5px";
  transform: translateY(-75px);
}

.quizView {
  width: 100%;
  height: 100vh;
  background: rgb(41, 149, 238);
  background: linear-gradient(0deg, rgb(41, 149, 238) 0%, rgb(17, 112, 236) 100%);
}
.quizView_title {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizView_title p {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}
.quizView_question {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizView_question p {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.quizView_answers {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quizView_answers_box {
  width: calc(100% - 50px);
  max-width: 1000px;
  height: 100px;
  background-color: #3cb8fc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 8px solid #106fec;
  border-right: 8px solid #106fec;
  border-top: 8px solid #106fec;
}
.quizView_answers_box p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.quizView_answers_box:nth-child(2) {
  background-color: #36acfc;
}
.quizView_answers_box:nth-child(4) {
  background-color: #36acfc;
  border-bottom: 8px solid #106fec;
  margin-bottom: 20px;
}
.quizView_answers_box:nth-child(1):hover {
  background-color: #106fec;
}
.quizView_answers_box:nth-child(2):hover {
  background-color: #106fec;
}
.quizView_answers_box:nth-child(3):hover {
  background-color: #106fec;
}
.quizView_answers_box:nth-child(4):hover {
  background-color: #106fec;
}

.mathView {
  width: 100%;
  height: 100vh;
  background: rgb(41, 149, 238);
  background: linear-gradient(0deg, rgb(41, 149, 238) 0%, rgb(17, 112, 236) 100%);
}
.mathView_question {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mathView_question_box {
  width: 650px;
  height: 60%;
  background-color: #2ea0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (orientation: portrait) and (max-width: 800px) {
  .mathView_question_box {
    width: 730px;
  }
}
.mathView_question_box p {
  color: white;
  font-weight: bold;
  margin: 0;
}
.mathView_question_box p:nth-child(2) {
  font-size: 100px;
}
.mathView_question_box p:nth-child(3) {
  font-size: 20px;
  position: absolute;
  top: 5%;
  left: 85%;
}
.mathView_question_box img {
  width: 45px;
  height: 45px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.mathView_answer {
  width: 100%;
  height: calc(100% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  @media screen and (orientation: landscape) and (max-height: 1000px) {height: calc(100vh - 285px);}
  @media screen and (orientation: landscape) and (max-height: 1100px) {height: calc(100vh - 285px);}
  */
}
.mathView_answer_box {
  width: 650px;
  height: 650px;
  margin-bottom: 30px;
  display: block;
  float: left;
  background: repeating-conic-gradient(#4ab8fc 0% 25%, #2ea0fa 0% 50%) 50%/20% 20%;
}
@media screen and (orientation: portrait) and (max-width: 800px) {
  .mathView_answer_box {
    width: 730px;
    height: 730px;
  }
}
.mathView_answer_box_number {
  width: 10%;
  height: 10%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mathView_answer_box_number p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.mathView_answer_box_number:hover {
  background-color: #106fec;
}

.startView {
  width: 100%;
  height: 100vh;
  background: rgb(41, 149, 238);
  background: linear-gradient(0deg, rgb(41, 149, 238) 0%, rgb(17, 112, 236) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.startView_title {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.startView_title p {
  color: white;
  font-size: 100px;
  font-weight: bold;
  margin: 0;
}
.startView_button {
  width: 600px;
  max-width: 1000px;
  height: 100px;
  background-color: #3cb8fc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 8px solid #106fec;
  border-right: 8px solid #106fec;
  border-top: 8px solid #106fec;
}
.startView_button p {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.startView_button:hover {
  background-color: #106fec;
}

#hostButton {
  border-bottom: 8px solid #106fec;
}

.gameSelect {
  width: 100%;
  height: 100vh;
  background: rgb(41, 149, 238);
  background: linear-gradient(0deg, rgb(41, 149, 238) 0%, rgb(17, 112, 236) 100%);
}
.gameSelect_title {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameSelect_title p {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}
.gameSelect_select {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gameSelect_select_title {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameSelect_select_title p {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.gameSelect_select_buttonSection {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameSelect_select_buttonSection_button {
  width: 220px;
  height: calc(100% - 20px);
  background-color: #3cb8fc;
  border: 8px solid #106fec;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gameSelect_select_buttonSection_button p {
  color: white;
  font-weight: bold;
  margin: 0;
}
.gameSelect_select_buttonSection_button p:nth-child(1) {
  font-size: 30px;
}
.gameSelect_select_buttonSection_button p:nth-child(2) {
  font-size: 12px;
  margin-top: 10px;
}
.gameSelect_select_buttonSection_button p:nth-child(3) {
  font-size: 22px;
}
.gameSelect_select_buttonSection_button:hover {
  background-color: #106fec;
}
.gameSelect_start {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.gameSelect_start_button {
  width: 300px;
  height: 60px;
  background-color: #3cb8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #106fec;
  cursor: pointer;
}
.gameSelect_start_button p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.gameSelect_start_button:hover {
  background-color: #106fec;
}

.joinView {
  width: 100%;
  height: 100vh;
  background: rgb(41, 149, 238);
  background: linear-gradient(0deg, rgb(41, 149, 238) 0%, rgb(17, 112, 236) 100%);
}
.joinView_title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joinView_title p {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}
.joinView_container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.joinView_container_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.joinView_container p {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.joinView_container_box {
  width: 300px;
  height: 45px;
  background-color: #3cb8fc;
  border: 5px solid #106fec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.joinView_container_box p {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 22px;
}
.joinView_container_box input {
  width: 95%;
  height: 80%;
  background: none;
  border: none;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.joinView_container_box input:focus {
  outline: none;
}
.joinView_container_box .joinView_container_box_error {
  position: absolute;
  top: 52px;
  font-size: 12px;
  color: red;
}
.joinView_container_box img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.joinView_container_box:nth-child(6) {
  border-bottom: 0px;
  cursor: pointer;
}
.joinView_container_box:nth-child(7) {
  border-bottom: 0px;
  cursor: pointer;
}
.joinView_container_box:nth-child(8) {
  border-bottom: 0px;
  cursor: pointer;
}
.joinView_container_box:nth-child(9) {
  cursor: pointer;
}
.joinView_container_box:nth-child(6):hover {
  background-color: #106fec;
}
.joinView_container_box:nth-child(7):hover {
  background-color: #106fec;
}
.joinView_container_box:nth-child(8):hover {
  background-color: #106fec;
}
.joinView_container_box:nth-child(9):hover {
  background-color: #106fec;
}
.joinView_container #joinGameBtn {
  width: 250px;
  height: 45px;
  margin-top: 50px;
  cursor: pointer;
}
.joinView_container #joinGameBtn p {
  font-size: 20px;
}
.joinView_container #notReadyBtn {
  width: 250px;
  height: 45px;
  margin-top: 50px;
  opacity: 0.5;
}
.joinView_container #notReadyBtn p {
  font-size: 20px;
}
.joinView_container #joinGameBtn:hover {
  background-color: #106fec;
}
.joinView_container #notReadyBtn:hover {
  background-color: gray;
}
.joinView_container #notReadyBtn:hover p {
  font-size: 0px;
}
.joinView_container button[disabled] {
  background-color: #3cb8fc;
  color: white;
}
.joinView_container button[disabled]:hover:before {
  content: "Complete Fields";
  font-size: 15px;
  font-weight: bold;
}

.hostLobbyView {
  width: 100%;
  height: 100vh;
  background: rgb(41, 149, 238);
  background: linear-gradient(0deg, rgb(41, 149, 238) 0%, rgb(17, 112, 236) 100%);
}
.hostLobbyView_title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hostLobbyView_title p {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}
.hostLobbyView_gameCode {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}
.hostLobbyView_gameCode_box {
  width: 80%;
  height: calc(100% - 8px - 8px);
  background-color: #3cb8fc;
  border: 8px solid #106fec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hostLobbyView_gameCode_box p {
  margin: 0;
  font-weight: bold;
  color: white;
}
.hostLobbyView_gameCode_box p:nth-child(1) {
  font-size: 25px;
  margin-bottom: -20px;
}
.hostLobbyView_gameCode_box p:nth-child(2) {
  font-size: 100px;
}
.hostLobbyView_teams {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hostLobbyView_teams_box {
  width: 160px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hostLobbyView_teams_box p {
  color: white;
  font-weight: bold;
  margin: 0;
}
.hostLobbyView_teams_box p:nth-child(1) {
  font-size: 20px;
  margin-bottom: -10px;
}
.hostLobbyView_teams_box p:nth-child(2) {
  font-size: 70px;
}
.hostLobbyView_start {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.hostLobbyView_start_button {
  width: 300px;
  height: 60px;
  background-color: #3cb8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #106fec;
  cursor: pointer;
}
.hostLobbyView_start_button p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.hostLobbyView_start_button:hover {
  background-color: #106fec;
}

.playerLobbyView {
  width: 100%;
  height: 100vh;
  background: rgb(41, 149, 238);
  background: linear-gradient(0deg, rgb(41, 149, 238) 0%, rgb(17, 112, 236) 100%);
}
.playerLobbyView_title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerLobbyView_title p {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}
.playerLobbyView_container {
  width: 100%;
  height: calc(100vh - 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.playerLobbyView_container p {
  color: white;
  font-weight: bold;
  margin: 0;
}
.playerLobbyView_container p:nth-child(1) {
  font-size: 25px;
  margin-bottom: -10px;
  margin-top: -100px;
}
.playerLobbyView_container p:nth-child(2) {
  font-size: 25px;
}
.playerLobbyView_container p:nth-child(3) {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 100px;
}
.playerLobbyView_container_box {
  width: 300px;
  height: 45px;
  background-color: #3cb8fc;
  border: 5px solid #106fec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.playerLobbyView_container_box p {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 22px;
}
.playerLobbyView_container_box img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.playerLobbyView_container_box:nth-child(4) {
  border-bottom: 0px;
}
.playerLobbyView_container_box:nth-child(5) {
  border-bottom: 0px;
}
.playerLobbyView_container_box:nth-child(6) {
  border-bottom: 0px;
}
.playerLobbyView_container_box:nth-child(4):hover {
  background-color: #106fec;
}
.playerLobbyView_container_box:nth-child(5):hover {
  background-color: #106fec;
}
.playerLobbyView_container_box:nth-child(6):hover {
  background-color: #106fec;
}
.playerLobbyView_container_box:nth-child(7):hover {
  background-color: #106fec;
}
.playerLobbyView_container #playerLobbyView_selectedTeam {
  font-size: 70px;
}/*# sourceMappingURL=styles.css.map */