.regionSelectView {
    width: 100%;
    height: 100vh;
    background-color: #2a99ee;
    display: flex;
    overflow: hidden;
}

.regionSelectView_stats {
    height: 100%;
    width: 100%;
    box-shadow: -12px 0 15px -5px rgba(0, 0, 0, 0.5), -12px 0 8px -5px rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: relative;

    &_titleSection {
        width: 100%;
        height: 125px;
        background-color: #2b97ed;
        display: flex; align-items: center; justify-content: center;

        p{color: white; font-size: 60px; font-weight: bold; margin: 0;}

        img {
            width: 45px; height: 45px; margin: 10px;
            position: absolute; top: 0; left: 0;
            cursor: pointer;
        }
    }

    &_pointSection {
        width: 100%;
        height: 150px;

        &_title {
            width: 100%;
            height: 40px;
            background: rgb(127,68,255);
            background: linear-gradient(0deg, rgba(127,68,255,1) 0%, rgba(177,109,252,1) 100%);
            display: flex; justify-content: center; align-items: center;
            -webkit-box-shadow:inset 0px 0px 0px 5px #fff;
            -moz-box-shadow:inset 0px 0px 0px 5px #fff;
             box-shadow:inset 0px 0px 0px 5px #fff;
     

            p {color: white; font-size: 22px; font-weight: bold; margin: 0;}
        }

        &_pointsContainer {
            width: 100%;
            height: calc(100% - 40px);
            background-color: green;
            display: flex;

        }
    }

    .pointBox {
        width: 25%; height: 100%; 
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        
        p {color: white; font-weight: bold; margin: 0;}
        p:nth-child(1) {font-size: 30px;}
        p:nth-child(2) {font-size: 15px;}
       
    }


    &_regionInfo {
        width: 100%;
        height: calc(100% - 235px - 40px);
        background-color: #3550c4ff;

        &_title {
            width: 100%;
            height: 100px;
            display: flex; justify-content: flex-end; align-items: center; flex-direction: column;

            p {color: white; font-weight: bold; margin: 0;}
            p:nth-child(1) {font-size: 15px;}
            p:nth-child(2) {font-size: 30px; margin-bottom: 10px;}
        }

        &_regionImage {
            width: 100%;
            height: calc(100% - 350px);
            min-height: 200px;
            display: flex; justify-content: center; align-items: center;

            img {
                height: 90%;
            }
        }

        &_regionPoints {
            width: 100%;
            height: 145px;
            display: flex; flex-direction: column; align-items: center;

            p {color: white; font-weight: bold; margin: 0;}
            p:nth-child(1) {font-size: 10px;} // Controlled by
            p:nth-child(2) {font-size: 25px; margin-bottom: 20px;} // Team // Also Second team points (blue)
            p:nth-child(3) {font-size: 15px; margin-top: 10px;} // Points in region
            p:nth-child(5) {font-size: 15px; margin-top: 10px;} // Your points in region (title)
            p:nth-child(6) {font-size: 30px;} // Your Points in region (value number)
        }

        &_regionPointsContainer {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            p {margin: 10px;}
            p:nth-child(1) {font-size: 30px; color: #eb497b;} // First team points (red)
            p:nth-child(2) {font-size: 30px; margin-bottom: 10px; color: #23a6ff;} // Second team points (blue)
            p:nth-child(3) {font-size: 30px; color: #febe57;} // Third team points (yellow)
            p:nth-child(4) {font-size: 30px; color: #4bdf37;} // First team points (green)
        }

    }

    
}

#regionSelectView_redTeam {
    background: rgb(224,51,116);
    background: linear-gradient(0deg, rgba(224,51,116,1) 0%, rgba(244,95,130,1) 100%);
    border-bottom: 5px solid white; border-left: 5px solid white;  
}
#regionSelectView_blueTeam {
    background: rgb(44,141,254);
    background: linear-gradient(0deg, rgba(44,141,254,1) 0%, rgba(28,188,255,1) 100%);
    border-bottom: 5px solid white; border-left: 5px solid white;  
}
#regionSelectView_yellowTeam {
    background: rgb(255,153,70);
    background: linear-gradient(0deg, rgba(255,153,70,1) 0%, rgba(254,189,86,1) 100%);
    border-bottom: 5px solid white; border-left: 5px solid white;  
}
#regionSelectView_greenTeam {
    background: rgb(48,211,69);
    background: linear-gradient(0deg, rgba(48,211,69,1) 0%, rgba(103,235,42,1) 100%);
    border-bottom: 5px solid white; border-left: 5px solid white; border-right: 5px solid white; 
}

.regionPoints_line {
    width:"300px"; 
    height:"2px"; 
    background-color:"white"; 
    border-radius:"5px";
    transform: translateY(-75px);
}










